# docker-compose.yml - VERSÃO 14.1 (COM HEALTHCHECK)
version: '3.8'

services:
  # Serviço 1: Nossa API Python
  api:
    build: .
    container_name: ip_intel_api_service
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      db: # <-- AQUI ESTÁ A MUDANÇA
        condition: service_healthy # <-- A API agora espera o DB ficar "saudável"
    networks:
      - app-network

  # Serviço 2: O Banco de Dados PostgreSQL
  db:
    image: postgres:14-alpine
    container_name: ip_intel_db_service
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    # --- NOVO BLOCO DE HEALTHCHECK ---
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
